<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqn.dao.society.SocietyBodyMapper">

    <resultMap id="BaseResultMap" type="com.yuqn.entity.society.SocietyBody">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getSocietyList" resultType="com.yuqn.vo.SocietyListVo" parameterType="String">
        select society_body.id as 'society_id',society_body.name as 'society_name', society_body.create_by,society_body.introduce as 'society_introduce',society_body.create_time,sys_user.nick_name as 'society_by_name'
        from society_body LEFT JOIN sys_user on society_body.create_by = sys_user.id
        where society_body.name LIKE CONCAT('%', #{societyName}, '%')
    </select>
    <select id="getSocietyUserCount" resultType="java.lang.Integer" parameterType="String">
        SELECT COUNT(DISTINCT user_id) AS unique_user_count
        FROM society_body_user_role
        WHERE society_body_id = #{societyId};
    </select>
    <select id="getSocietyDepartmentCount" resultType="java.lang.Integer" parameterType="String">
        select count(*)
        from society_department
        where society_body_id = #{societyId};
    </select>

</mapper>
