<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqn.dao.society.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.yuqn.entity.society.SysRoleMenu">
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="menuId" column="menu_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserMenu" resultType="com.yuqn.entity.society.SysMenu" parameterType="String">
        select sys_menu.id ,sys_menu.menu_name,sys_menu.icon
        from sys_role_menu LEFT JOIN sys_role on sys_role_menu.role_id = sys_role.id
                           LEFT JOIN sys_menu on sys_role_menu.menu_id = sys_menu.id
        where sys_role_menu.role_id = #{roleId}
    </select>
</mapper>
